
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #0284c7;
  --primary-color-2: #0e90bf;
  --secondary-color: #000000;
  --alert-color: rgb(237, 25, 25);
}

.mt-0{
  margin-top: 0 !important;
}